
$darkForeground: rgba(255, 56, 96, 0.63 );
$lightForeground: rgb(247, 188, 200);

#loadicon { 
  
  // position: relative; 
  // top: 15%; 

  position: absolute; 
  top: 60%; 

  width: 30px; height: 30px; 
  left: 50%; 
  
  margin: 0 0 0 0; 
  border: 8px solid $lightForeground; 
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-radius: 50%; 
  box-shadow: 0 0 25px 2px $lightForeground; 
  background-color: $darkForeground; 
  padding: 1.5%; 
  animation: spin 1.406s linear infinite;
  
  // display: none; 
}

#loadicon::after{  
  display: block; 
  content: " ";
  width: 9px; 
  height: 9px;   
  margin: -6px 4px 4px -6px; // margin: 4px 4px 4px 4px; 
  border-radius: 50%; 
  border: 6px solid $lightForeground; border-left-color: transparent; border-right-color: transparent;
}


@keyframes spin { 
  from { transform :rotate( 0deg ); opacity: 0.4;  } 
  50% { transform :rotate( 180deg ); opacity: 1.0; }
  to { transform :rotate( 360deg ); opacity: 0.4; }
};